{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}    
  {% with message = get_flashed_messages() %}
    {% if message %}
        {% for i in message %}
          <p>{{i}}</p>
        {% endfor %}
    {% endif %}
  {% endwith %}
    <div class="container pt-5">  
        <h2>Welcome to Employee-Department REST-API !!</h2><br>
        <h4>This API helps to search the list of employees and their details based on the name of their department.<br><br> The 4 departments whose employee details can be called through this API is as follows: <br>
          <ul>
            <li>FINANCE</li>
            <li>AUDIT</li>
            <li>PRODUCTION</li>
            <li>MARKETING</li>
          </ul>
          <br>

          URL to call the api : <br>
          http://127.0.0.1:5000/department/q=department_name <br>
          
          Examples : 
          <ul>
            <li>http://127.0.0.1:5000/department/q=FINANCE</li>
            <li>http://127.0.0.1:5000/department/q=AUDIT</li>
            <li>http://127.0.0.1:5000/department/q=PRODUCTION</li>
            <li>http://127.0.0.1:5000/department/q=MARKETING</li>
          </ul>

          <br>
          <br>
          OUTPUT/Response: The response of the queries will be in form of JSON.
        </h4>
        <!-- {% for i in name %} <!-- This is the format to write python directly in html file in flask. -->
            <!-- {% if i == "mtech" %}
                <p>course : {{i}}</p>
            {% else %}
                <p>{{i}}</p>
            {% endif %}
        {% endfor %} -->

      </div>
      <!-- {% if email %}
        <h2>Your Email is: {{email}}</h2>
      {% else %}
        <p></p>
      {% endif %} -->
      
{% endblock %}