{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}    
  {% with message = get_flashed_messages() %}
    {% if message %}
        {% for i in message %}
          <p>{{i}}</p>
        {% endfor %}
    {% endif %}
  {% endwith %}
    <div class="container pt-5">  
        <h2>Welcome to Employee-Department REST-API !!</h2><br>
        <h4>This API helps to search the list of employees and their details based on the name of their department and create new employee entries.<br><br> 
          
          <br>
          <u><b>GET request:</b></u>
          <br><br>
          URL to request the api <i><u>to view all the employee's details</u></i>: <br>
          http://employee-department-restapi.herokuapp.com/department<br><br>

          
          The 4 departments whose employee details can be requested through this API is as follows: <br>
          <ul>
            <li>FINANCE</li>
            <li>AUDIT</li>
            <li>PRODUCTION</li>
            <li>MARKETING</li>
          </ul>
          

          URL to request the api : <br>
          http://employee-department-restapi.herokuapp.com/department/q=department_name <br><br>
          
          Examples : 
          <ul>
            <li>http://employee-department-restapi.herokuapp.com/department/q=FINANCE</li>
            <li>http://employee-department-restapi.herokuapp.com/department/q=AUDIT</li>
            <li>http://employee-department-restapi.herokuapp.com/department/q=PRODUCTION</li>
            <li>http://employee-department-restapi.herokuapp.com/department/q=MARKETING</li>
          </ul>

          <br>
          
          OUTPUT/Response: The response of the queries will be in form of JSON.

          <br><br><br>
          <u><b>POST request:</b></u>
          <br><br>
          URL to reuqest the api : <br>
          http://employee-department-restapi.herokuapp.com/create
          <br><br>
          Post data to be sent in JSON format with the following fields given in example below:
          <br>          
            create = {
                "employee_id" : "7004",
                "employee_name": "Bruce" ,
                "designation": "salesman",
                "salary": "65024",
                "manager_id" : "68139",
                "hire_date" : "18-5-21",
                "department_name" : "Production/Audit/Finance/Marketing"
            }

        </h4>
        <!-- {% for i in name %} <!-- This is the format to write python directly in html file in flask. -->
            <!-- {% if i == "mtech" %}
                <p>course : {{i}}</p>
            {% else %}
                <p>{{i}}</p>
            {% endif %}
        {% endfor %} -->

      </div>
      <!-- {% if email %}
        <h2>Your Email is: {{email}}</h2>
      {% else %}
        <p></p>
      {% endif %} -->
      
{% endblock %}